.hide {
  opacity: 0;
}
#resultado {
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  border: 1px solid var(--col-1);
}
.area-senha {
  padding: 20px 10px;
}
#resultado .imgcopy {
  width: 100%;
  background-color: var(--col-1);
  cursor: pointer;
  padding: 10px;
}
.imgcopy img {
  opacity: 0.4;
  filter: invert();
  display: flex;
  margin-left: auto;
}

@media (max-width: 710px) {
  #resultado {
    margin: 20px;
  }
}
